* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1 rem;
    padding: 0 1rem;
    margin: 2 px;
    background-color: hwb(266 4% 10%);
}

.nav a {
    text-decoration: none;
    color: rgb(224, 248, 8);
    font-size: 1.5rem;
}

.nav a:hover {
    color: rgb(0, 255, 4);
}

.nav a:active {
    text-decoration: underline;
}

.nav ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.nav ul li {
    padding-right: 1rem;
    padding-left: 0;
}